---
interface Props {
  size?: number;
  position?: {
    x: number;
    y: number;
    z: number;
  };
  rotation?: number;
}

const { 
  size = 1, 
  position = { x: 0, y: 0, z: 0 },
  rotation = 0 
} = Astro.props;

const baseSize = 18;
const rockSize = baseSize * size;
---

<style>
  .voxel-rock {
    position: absolute;
    transform-style: preserve-3d;
    transform: translate3d(
      calc(var(--x) * 1px), 
      calc(var(--y) * 1px), 
      calc(var(--z) * 1px)
    ) rotateY(calc(var(--rotation) * 1deg));
    transform-origin: center;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  .rock-cube {
    position: absolute;
    width: calc(var(--rock-size) * 1px);
    height: calc(var(--rock-size) * 1px);
    background: #9E9E9E;
    border: 2px solid #757575;
    border-radius: 2px;
    transform: translate3d(
      calc(var(--rock-size) / -2 * 1px), 
      calc(var(--rock-size) / -2 * 1px), 
      0
    );
    box-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.4),
      -2px 2px 4px rgba(255, 255, 255, 0.1);
  }

  .rock-cube::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1) 0%,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
    border-radius: 1px;
  }

  .rock-detail {
    position: absolute;
    background: #757575;
    border: 1px solid #555555;
    border-radius: 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .rock-detail:nth-child(2) {
    width: calc(var(--rock-size) * 0.4 * 1px);
    height: calc(var(--rock-size) * 0.4 * 1px);
    transform: translate3d(
      calc(var(--rock-size) * 0.2 * 1px), 
      calc(var(--rock-size) * -0.2 * 1px), 
      5px
    );
  }

  .rock-detail:nth-child(3) {
    width: calc(var(--rock-size) * 0.3 * 1px);
    height: calc(var(--rock-size) * 0.3 * 1px);
    transform: translate3d(
      calc(var(--rock-size) * -0.3 * 1px), 
      calc(var(--rock-size) * 0.2 * 1px), 
      5px
    );
  }
</style>

<div 
  class="voxel-rock"
  style="--x: {position.x}; --y: {position.y}; --z: {position.z}; --rotation: {rotation}; --rock-size: {rockSize};"
>
  <div class="rock-cube"></div>
  <div class="rock-detail"></div>
  <div class="rock-detail"></div>
</div>
